/*
Project Name: Trillium Publishing
Client: Sunny Gagliano, Trillium Publishing
Author: Katie Campbell
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	font-family: 'Source Sans Pro', sans-serif;
}

#logo {
  float: left;
  margin-left: 90px;
  margin-top: 25px;
  background-color: #097f73;
}

#header_bar {
  background-color: #097f73;
  height: 100px;
  width: 100%;
}

a {
  text-decoration: none;
}

/******************************************
/* RESPONSIVE CSS
/*******************************************/

@media (max-width: 360px) {
  #logo_bar {
    width: 100%;
    float: none;
  }

  #links_bar {
    width: 100%;
    float: none;
    height: 50px;
  }
}