#logo {
  /*float: left;
  margin-left: 90px;
  margin-top: 25px;*/
  background-color: #097f73;
  text-align: center;
}

#logo_bar {
  background-color: #097f73;
  height: 100px;
  width: 33.5%;
  float: left;
}

#links_bar {
	background-color: #e7f2f1;
	height: 100px;
	width: 66.5%;
	float: right;
}

.page_links {
	display: inline-block;
	float: right;
	width: 150px;
	margin-top: 40px;
}

.page_links a {
	color: #097f73;
	font-weight: 400;
	font-size: 20px;
}

#links_bar li:nth-child(4) a {
	color: #43315a;
	font-weight: 600;
}

#history_para {
	float: left;
	width: 45%;
}

#history_para p {
	color: #686f78;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	padding: 40px;
	max-width: 600px;
}

#history_para p:first-letter {
	font-size: 60px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 700;
	color: #43315a;
	float: left;
	padding-top: 15px;
	padding-right: 5px;
}

#team_header {
	background-color: #43315a;
	height: 75px;
	width: 100%;
	margin-left: 0;
}

#team_header h2 {
	font-weight: 600;
	font-size: 34px;
	color: white;
	text-align: left;
	padding: 20px 0 20px 40px;
}

#trillium {
	float: right;
	background-color: #cee5e3;
	width: 55%;
}

#trillium img {
	display: block;
	width: 100%;
}

#trillium p {
	color: #097f73;
	font-size: 20px;
	line-height: 28px;
	padding: 30px 60px 20px 30px;
}

#trillium ul li {
	color: #097f73;
	font-size: 20px;
	line-height: 28px;
	list-style: disc inside none;
	padding: 0px 60px 20px 50px ;
	text-indent: -1.25rem;
}

.bold {
	font-weight: 700;
}

#team_bios {
	background-color: #f2f2f2;
	width: 100%;
	padding-bottom: 40px;
	border-bottom: 1px solid gray;
}

#Sunny {
	color: white;
	text-align: center;
	background-color: #43315a;
	width: 150px;
	float: left;
	margin-left: 40px;
	margin-top: -150px;
	z-index: 1;
}

li.bio_pic h3 {
	padding: 5px 0 10px 0;
	font-weight: 600;
	line-height: 20px;
}

li.bio_pic h3 span {
	font-weight: 400;
}

#bios_row1 {
	padding-top: 40px;
	margin-left: 40px;
}

#bios_row2 {
	padding-top: 40px;
	margin-left: 250px;
}

.bio_pic {
	display: inline-block;
	color: white;
	text-align: center;
	background-color: #43315a;
	margin-right: 60px;
}

#bios_row1 li:nth-child(1) {
	background-color: #097f73;
}

footer {
	height: 100px;
	background-color: #f2f2f2;
}

footer h3 {
	color: #686f78;
	font-weight: 400;
	margin-left: 50px;
	padding-top: 30px;
}

