body {
	font-family: 'Source Sans Pro', sans-serif;
}

.myAwesomeCarousel {
	margin-top: 30px;
}

.myAwesomeCarousel img {
	margin: 0 auto;
}

.carousel-wrapper {
	margin: 0 40px;
}

.slick-prev:before, .slick-next:before { 
    color:#43315a !important;
}

.page_links {
	display: inline-block;
	float: right;
	width: 150px;
	margin-top: 40px;
}

.page_links a {
	color: white;
	font-weight: 400;
	font-size: 20px;
}

.service_labels {
	color: white;
	text-align: center;
	font-size: 28px;
	font-weight: 600;
	display: inline-block;
	width: 240px;
	margin: 30px 0 20px;
}

#tagline_bar h2 {
	width: 100%;
	background-color: #2e1a47;
	height:100px;
	font-weight: 400;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 30px;
}

#services_icon_bar {
	background-color: #43315a;
	height: 450px;
	border-bottom: 1px solid #ffffff;
}

.samples_carousel a,
.samples_carousel div {
	display: block;
	width: 480px;
	height: 420px;
}

.icons {
	display: inline-block;
	width: 240px;
	text-align: center;
	vertical-align: top;
}

.icons img {
	z-index: 1;
}

.service_descripts {
	height: 275px;
	background-color: rgba(255,255,255,.5);
	border-radius: 10px;
	width: 240px;
	color: #2e1a47;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;
	padding: 30px 20px;
	margin-top: -25px;
	text-align: left;
	display: none;
}

footer {
	height: 100px;
	background-color: #43315a;
}

footer h3 {
	color: white;
	font-weight: 400;
	margin-left: 50px;
	padding-top: 30px;
}