body {
	font-family: 'Source Sans Pro', sans-serif;
}

#header_bar {
	background-color: #097f73;
	height: 100px;
	width: 100%;
}

#logo {
	float: left;
	margin-left: 90px;
	margin-top: 25px;
}

.page_links {
	color: white;
	display: inline-block;
	float: right;
	font-weight: 400;
	font-size: 20px;
	width: 150px;
	margin-top: 40px;
}

.service_links {
	color: white;
	text-align: center;
	font-size: 28px;
	display: inline-block;
	width: 260px;
	margin-top: 30px;
}

.samples_carousel {
	margin-top: 50px;
	width: 40%;
}

#service_icon_bar {
	background-color: #43315a;
	height: 800px;
}

#service_icon_bar ul {
	text-align: center;
}

#tagline_bar h2 {
	width: 100%;
	background-color: #2e1a47;
	height:100px;
	font-weight: 400;
	font-size: 40px;
	color: white;
	text-align: center;
	padding-top: 30px;
}