#logo {
  /*float: left;
  margin-left: 90px;
  margin-top: 25px;*/
  background-color: #097f73;
  text-align: center;
}

#logo_bar {
  background-color: #097f73;
  height: 100px;
  width: 33.5%;
  float: left;
}

#links_bar {
	background-color: #e7f2f1;
	height: 100px;
	width: 66.5%;
	float: right;
}

.page_links {
	display: inline-block;
	float: right;
	width: 150px;
	margin-top: 40px;
}

.page_links a {
	color: #097f73;
	font-weight: 400;
	font-size: 20px;
}

#links_bar li:nth-child(4) a {
	color: #43315a;
}

#history_para {
	float: left;
	width: 50%;
	padding: 30px;
}

#history_para p {
	color: #686f78;
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 40px;
}

#history_para p:first-letter {
	font-size: 60px;
	font-family: 'Roboto Slab', serif; 
	font-weight: 700;
	color: #43315a;
	float: left;
	padding-top: 15px;
	padding-right: 5px;
}

#team_header {
	background-color: #43315a;
	height: 75px;
	width: 50%;
	float: left;
	margin-top: -100px;
}

#team_header h2 {
	font-weight: 600;
	font-size: 34px;
	color: white;
	text-align: right;
	padding: 20px 20px;
}

#trillium {
	float: right;
	background-color: #cee5e3;
	width: 50%;
}

#trillium img {
	display: block;
	width: 100%;
}

#trillium p {
	color: #097f73;
	font-size: 20px;
	line-height: 28px;
	padding: 30px 30px 20px 30px;
}

#trillium ul li {
	color: #097f73;
	font-size: 20px;
	line-height: 28px;
	list-style: disc inside none;
	padding: 0px 30px 20px 50px ;
	text-indent: -1.25rem;
}

.bold {
	font-weight: 700;
}

#team_bios {
	background-color: #f2f2f2;
	width: 100%;
}

#Sunny {
	color: white;
	text-align: center;
	background-color: #43315a;
	width: 150px;
}

#Sunny h3 {
	padding: 5px 0 10px 0;
	font-weight: 600;
	line-height: 20px;
}

#Sunny h3 span {
	font-weight: 400;
}

